<div class="container">
    <div class="container-box info">
        <h4 class="component-heading">Školski informacioni sistem</h4>
        <h3 class="component-heading sub">Pregled i uredjivanje školskih razreda i odeljenja</h3>
    </div>
    
    
    <div class="container-box">
        <p>
            Ova aplikacija omogućava jednostavno praćenje i upravljanje školskim razredima i odeljenjima. 
            Korisnici mogu pregledati postojeće podatke, dodavati nove razrede i učenike, kao i vršiti izmene u postojećim odeljenjima.
        </p>
    </div>
    
    <div class="container-box">
        
        <div class="stats-box" style="align-items: center;">
            <h4>Statistički pregled</h4>
            <h5>Prikaz trenutnog stanja sistema:</h5>
            <ul>
                <li>📚 Ukupno razreda: {{razrediList.length}} </li>
                <li>🏫 Odeljenja: {{odeljenjaList.length}} </li>
                <li>👨‍🎓 Ukupno učenika: {{ukupanBrojUcenika}} </li>
            </ul>
        </div>
    </div>
    
    <div class="container-box" style="margin-top: 3rem;">
        <p style="font-style: italic;">
            {{randomCitat}}
        </p>
    </div>
    
    
    
</div>
